@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

 body {
  background: -webkit-radial-gradient(center, circle cover, #121212 50%, #121212
     100%);
 } 

.reveal {
    font-size: 28px;
    /* font-family: 'Lato', sans-serif; */
    /* font-weight: normal; */
    /* color: #FFF; */
    /* cursor: url(images/pointer3.png) 7 7, default; */
}
.reveal section img {
    margin: 15px 0px;
    background: none;
    border: none;
    box-shadow: none;
    /* box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.15); */
    /* border-radius:10px; */
}
.reveal section {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: white;
  font-family: "News Cycle", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }


textBox {
    /* background:#E1E9EB; */
    background:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius:10px;
    display:inline-block;
    margin-top:15px;
    margin-bottom:20px;
    color: gray;
}
textBox boxTitle {
    background:gray;
    /* background:#657b83; */
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    display:block;
}
.reveal textBox boxTitle h3, .reveal textBox boxTitle h4 {
    color: #fff;
    padding: 10px 20px 10px 20px;
}
.reveal textBox ol {
    padding-left:30px;
    padding-bottom:20px;
}
.reveal textBox ul {
    padding-bottom:20px;
    color: #586e75;
}
.reveal textBox p {
    padding: 0px 20px 0px 20px;
    color: #586e75;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background:#002b36;
    color:#fff;
}
mathBox {
    display:inline-flex;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius:10px;
    background:#002b36;
    color:white;
    padding: 10px;
}
leftSide {
    width:48%;
    display:inline-block;
    float:left;
}
rightSide {
    width:48%;
    display:inline-block;
    float:right;
}
innerBox {
    margin:auto;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark p, .dark ul, .dark ol, .dark dl  {
  color:#FFF;
}
.dark tr, .dark td {
  color:#000;
}

::backdrop
{
    background-color: #121212;
}

.reveal {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: white; }


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #00FF00; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #00FF00; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #00FF00; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #00FF00; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #00FF00; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #00FF00; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #00FF00; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #00FF00; }
.column {
    float: left;
    width: 50%;
}
.twocolumn {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   text-align: left;
}
